<%- include('partials/head'); %>
<body>
<%- include('partials/header'); %>
<main>
    <section class="py-5 text-center bg-dark">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="text-white">Dashboard</h1>
                <p class="lead text-white">DriveTest Booking Kiosk</p>
            </div>
        </div>
    </section>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="fw-light">You can book G/G2 drive test from the Kiosk</h2>
                <p class="lead text-muted">You can book G/G2 drive test from the Kiosk</p>
                <span class="text-sm-left font-italic">Posted by DriveTest Center</span>
            </div>
        </div>
    </section>
</main>
<%- include('partials/footer'); %>
</body>
</html>